Flask==2.2.3
Flask-SQLAlchemy==3.0.3
Flask-Migrate==4.0.4
Flask-Login==0.6.2
Flask-WTF==1.1.1
psycopg2-binary==2.9.6
Werkzeug==2.2.3
python-dotenv==1.0.0
email-validator==2.0.0
gunicorn # WSGI sunucusu
Faker # Örnek veri üretimi için
Bootstrap-Flask==2.5.0 # Bootstrap 5 entegrasyonuPillow==10.3.0
Pillow==10.3.0
